header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-image: url("../images/main-page-image.jpg");
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

.content {
    color: black
}

header {
    background-color: #8B0000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

.transparent {
    height: 200px;
    background: #FF7A59;
    opacity: .5;
    margin: auto;
    width: 50%;
    padding: 10px;
}